.emacs.desktop
.emacs.desktop.lock
/.cache/
/.emacs-places
/.lsp-session-v1
/.mc-lists.el
/bookmarks
/custom.el
/eln-cache/
/elpy/
/epkgs/
/eshell/
/games/
/history
/multisession/
/projectile-bookmarks.eld
/projectile.cache
/projects
/projects.el
/recentf
/straight/
/templates/
/tramp
/tree-sitter/
anaconda-mode/
auto-save-list/
customize.el
elpa/
places
server/
settings.el
transient/
url/
