.emacs.desktop
.emacs.desktop.lock
anaconda-mode/
auto-save-list/
elpa/
fonts/
server/
snippets/
transient/
url/
customize.el
settings.el
/projects.el
/.cache/
/.emacs-places
/.lsp-session-v1
/.mc-lists.el
/games/
/projects
/recentf
/tramp
