.emacs.desktop
.emacs.desktop.lock
/.cache/
/.emacs-places
/.lsp-session-v1
/.mc-lists.el
/bookmarks
/custom.el
/eln-cache/
/games/
/history
/projectile-bookmarks.eld
/projectile.cache
/projects
/projects.el
/recentf
anaconda-mode/
auto-save-list/
customize.el
elpa/
server/
settings.el
snippets/
transient/
url/
/elpy/
/epkgs/
/straight/
